button{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(55, 53, 53);
    padding: 1em;
    border-radius: 1.2em;
    color: black;
    margin: 15px;
    text-align: center;
    cursor: pointer;
}
button:hover{
    background-color: grey;
    color: white;
}
